.fond_main{
    background: rgb(254,225,64);
    background: linear-gradient(90deg, rgba(254,225,64,1) 0%, rgba(249,140,45,1) 100%);
}

.fond_portfolio{
    background: rgb(53,169,215);
    background: linear-gradient(90deg, rgba(53,169,215,1) 0%, rgba(27,77,210,1) 100%);
}

nav>ul>li>a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    list-style-type: none;
    border: 2px rgb(255, 255, 255) solid;
    padding-left: 4px;
    padding-right: 4px;
}

ul{
    padding: 5px;
    margin-top: 5px;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.titre{
    margin-top: 50px;
    color: white;
    justify-content: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.soustitre{
    margin-top: 35px;
    justify-content: center;
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    transform: translateY(-35px);
}

.dash{
    width: 0px;
    height: 0.3rem;
    background: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: auto;
    transform: translateY(-30px);
    animation: dash_scale 2s ease-in-out forwards;
}

.text_slide_main{
    margin: auto;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-weight: normal;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    transform: translateY(-10%);
    animation: Text_slide 2s 1s ease-in-out forwards;
}

@keyframes dash_scale{
    100%{
        width: 150px;
    }
}

@keyframes menu{
    100%{
        background-color: white;
        color: rgba(254,225,64,1);
        border-radius: 20px;
    }
}

.button:hover{
    animation: menu 500ms ease-in-out forwards;
}

.bloc_noir{
    overflow: hidden;
    transform: translateY(50px); 
    margin: auto;
    width: 80%;
    border-left: 5px white solid;
    height: 0px;
    opacity: 0.1;
    background-color: rgb(255, 123, 0);
    animation: block_slide 1s 1500ms ease-in-out forwards;
}

.text1{
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
    font-family: "Montserrat";
    font-weight: normal;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

/* Page Contact */

.fond_blanc{
    border-top: 5px rgb(13, 52, 124) solid;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
    width: 100%;
    height: 350px;
}

.maps{
    margin: auto;
    justify-content: center;
    display: flex;
}

.pin{
    width: 30px;
    height: 30px;
    transform: translateY(37px);
}

.text_pin{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-left: 40px;
}

.telephone{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-left: 40px;
    transform: translateY(-30px);
}

.tel{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.mail{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-left: 40px;
    transform: translateY(-39px);
}

.mail_img{
    width: 30px;
    height: 30px;
    transform: translateY(-10px);
}

@keyframes contact_slide{
    100%{
        height: 350px;
    }
}

@keyframes block_slide{
    100%{
        border-left: 10px white solid;
        height: 165px;
        opacity: 0.5;
    }
}

/* Page Parcours */

.parcours_line{
    transform: translateY(-363px);
    margin-left: 20px;
    margin-top: 60px;
    width: 5px;
    height: 0px;
    background-color: white;
    animation: parcours_line 3s ease-in-out 1s forwards;
}

.text_parcours{
    color: white;
    display: flex;
    margin-left: 40px;
    font-weight: 500;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 12px;
}